<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="Description" content="VCU Massey Cancer Center" />
  <meta name="Keywords" content="vcu, massey cancer center" />
  
  <title>Home - VCU Massey Cancer Center</title>
  
  <!--GLOBAL:CSS-->
  <link rel="stylesheet" href="assets/css/global.css"></script>
  <link rel="stylesheet" href="assets/css/global-flexy.css"></script>
  <!--GLOBAL:CSS END-->
  <link rel="stylesheet" href="assets/css/home.css">

  <!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
  <![endif]-->

  <!--MODERNIZR-->
  <script src="../assets/lib/modernizr/modernizr.js"></script>
  <!--MODERNIZR END-->

</head>

<body>
  <a id="top"></a>

  <div id="vcuIdentityWrapper">
    <header id="vcuIdentity">
      <h1><a title="Virginia Commonwealth University" target="_blank" href="http://www.vcu.edu">Virginia Commonwealth University</a></h1>
    </header>
  </div>

  <div id="rufio">
    <div class="wrapper">
      <h1><a href="#" target="_blank" title="VCU Massey Cancer Center">VCU Massey Cancer Center</a></h1>
      <div class="right">
          <a href="http://www.cancer.gov/researchandfunding/extramural/cancercenters" class="ncicc-link">A Cancer Center desginated by the National Cancer Institute</a>

        <div id="search">
            <form id="sitesearch" name="gs" method="get" action="http://search.vcu.edu/search">
              <label for="searchField">Search:</label>
              <div>
                <input type="text" name="q" class="field" id="searchField" value="Search the site" />
                <input id="search_btn" type="image" src="http://www.massey.vcu.edu/images/layout/search-btn-mask.gif" name="Search" alt="Go" />
              </div>
              <input type="hidden" name="query" value="" />
              <input type="hidden" name="proxystylesheet" value="massey" />
              <input type="hidden" name="output" value="xml_no_dtd" />
              <input type="hidden" name="client" value="massey"/>
              <input type="hidden" name="sitesearch" value="www.massey.vcu.edu" />
              <input type="hidden" name="sort" value="date:D:L:d1" />
              <input type="hidden" name="entqr" value="3" />
              <input type="hidden" name="oe" value="UTF-8" />
              <input type="hidden" name="ie" value="UTF-8" />
              <input type="hidden" name="ud" value="1" />
              <input type="hidden" name="site" value="massey" />
            </form>
        </div><!--end #search-->
      </div>

      <div id="header-links">
        <ul id="util-nav">
          <li><a href="https://www.facebook.com/VCUMasseyCancerCenter" class="facebook-link" target="_blank" title="Facebook"></a></li>
          <li><a href="http://www.twitter.com/vcumassey" class="twitter-link" target="_blank" title="Twitter"></a></li>
          <li><a href="http://www.youtube.com/teammassey" class="youtube-link" target="_blank" title="YouTube"></a></li>
          <li><a href="http://blogs.vcu.edu/masseynews/atom.xml" class="rss-link" target="_blank" title="RSS"></a></li>
          <li><a href=https://www.support.vcu.edu/event/masseysubscribe class="email-link" title="E-news sign up"></a></li>
        </ul><!--end #util-nav-->
      </div><!--end #header-links-->

      <nav>
        <ul>
          <li><a href="Cancer">About Cancer</a>
            <ul>
              <li><a href="#">Types of cancer</a></li>
              <li><a href="#">Cancer and family history</a></li>
              <li><a href="#">Causes and risk factors</a></li>
              <li><a href="#">Cancer warnings and risk reduction</a></li>
              <li><a href="#">Cancer testing and diagnosis</a></li>
              <li><a href="#">Treatement Modalities</a></li>
              <li><a href="#">Cancer and nutrition</a></li>
              <li><a href="#">Additional health information</a></li>
            </ul>
          </li>
          <li><a href="Patient-Care">Patient Care</a>
            <ul>
              <li><a href="#">Refer a patient</a></li>
              <li><a href="#">Become a patient</a></li>
              <li><a href="#">Find a doctor</a></li>
              <li><a href="#">Our locations</a></li>
              <li><a href="#">Treatment teams</a></li>
              <li><a href="#">Treatment methods</a></li>
              <li><a href="#">Patient resources</a></li>
              <li><a href="#">Prevention and screening resources</a></li>
            </ul>
          </li>
          <li><a href="Survivorship">Survivorship</a>
            <ul>
              <li><a href="#">Coping with cancer</a></li>
              <li><a href="#">Survivor health</a></li>
              <li><a href="#">Work and insurance resources</a></li>
              <li><a href="#">Legal and financial resources</a></li>
              <li><a href="#">Support groups</a></li>
              <li><a href="#">Integrative medicine</a></li>
            </ul>
          </li>
          <li><a href="Clinical-Trials">Clinical Trials</a>
            <ul>
              <li><a href="#">Find a clinical trial</a></li>
              <li><a href="#">Learn about clinical trials</a></li>
              <li><a href="#">Meet trial participants</a></li>
              <li><a href="#">Get expert opinion</a></li>
              <li><a href="#">Access support services for clinical trial participants</a></li>
              <li><a href="#">Contact clinical research personnel</a></li>
              <li><a href="#">Clinical Research Affiliation Network</a></li>
              <li><a href="#">Clinical Research Shared Resources</a></li>
              <li><a href="#">Protocol Review and Monitoring Committee (for investigators only)</a></li>
              <li><a href="#">Access Oncore (for staff only)</a></li>
            </ul>
          </li>
          <li><a href="Research">Research</a>
            <ul>
              <li><a href="#">Research highlights</a></li>
              <li><a href="#">Research programs</a></li>
              <li><a href="#">Shared resouce cores</a></li>
              <li><a href="#">Research members</a></li>
              <li><a href="#">Administration and business services</a></li>
              <li><a href="#">Research resources and funding</a></li>
              <li><a href="#">Advanced research training</a></li>
              <li><a href="#">Research Report e-newsletter</a></li>
              <li><a href="#">Cancer Research Retreat</a></li>
            </ul>
          </li>
          <li><a href="Newsroom">Newsroom</a>
            <ul>
              <li><a href="#">Press inquiry</a></li>
              <li><a href="#">Breaking news and discoveries</a></li>
              <li><a href="#">Press coverage</a></li>
              <li><a href="#">About Massey</a></li>
              <li><a href="#">Publications</a></li>
              <li><a href="#">Social media</a></li>
              <li><a href="#">Request a public speaker</a></li>
              <li><a href="#">Identity guidelines</a></li>
              <li><a href="#">Resources for Massey staff</a></li>
              <li><a href="#">VCU Presidential Symposium on Cancer</a></li>
            </ul>
          </li>
          <li><a href="Giving">Giving</a>
            <ul>
              <li><a href="#">Give now</a></li>
              <li><a href="#">Why support Massey</a></li>
              <li><a href="#">Research for Life</a></li>
              <li><a href="#">Ways to give</a></li>
              <li><a href="#">Honorary and memorial gifts</a></li>
              <li><a href="#">Patient and donor stories</a></li>
              <li><a href="#">Fundraising events</a></li>
              <li><a href="#">Community Advisory Board</a></li>
              <li><a href="#">Massey Alliance</a></li>
              <li><a href="#">Contact the Development Office</a></li>
            </ul>
          </li>
        </ul>
      </nav>

    </div>
  </div>

  <div id="wrapper" class="clearfix">
    <div id="container" class="clearfix"><!-- start content container -->
      <div id="content">
        <div class="gutter">

          <div class="flexslider">
            <ul class="slides">
              <li>
                <img src="assets/imgs/interactive/1.jpg" alt="interactive" />
                <a href="#">
                  <span>
                    <h3>Life-saving contributions</h3>
                    <p>Your generosity and support helps Massey put cancer on the run.</p>
                  </span>
                </a>
              </li>
              <li>
                <img src="assets/imgs/interactive/2.jpg" alt="interactive" />
                <a href="#">
                  <span>
                    <h3>Virginia's cancer resource</h3>
                    <p>Massey is committed to a cancer-free Virginia, extending the most advanced cancer treatments and innovative research throughout the state.</p>
                  </span>
                </a>
              </li>
              <li>
                <img src="assets/imgs/interactive/plane.jpg" alt="interactive" />
                <a href="#">
                  <span>
                    <h3>Life after cancer?</h3>
                    <p>How are you loving life after cancer? Share your story at LifeAndLoveAfterCancer.com</p>
                  </span>
                </a>
              </li>
            </ul>
          </div>

          <div id="home-news">
            <div id="links-columns"><!-- area expands vertically for more news entries -->
              <div id="col-a">
                <h3>News &amp; Advances</h3>
                  <ul>
                    <li><img src="http://www.massey.vcu.edu/media/massey-cancer-center/content-assets/images/home-page-thumbnails/grossmanicon.jpg" alt="U.S. News & World Report" width="40" height="40" /> <a href="http://wp.vcu.edu/masseynews/2013/07/22/massey-rated-the-top-cancer-center-in-virginia-by-u-s-news-two-years-in-a-row/" target="new window">Massey rated the top cancer center in Virginia by U.S. News two years in a row</a></li>
                    <li><img src="http://www.massey.vcu.edu/media/massey-cancer-center/content-assets/images/home-page-thumbnails/grossmanicon.jpg" alt="Fisher in lab coat" width="40" height="40" /> <a href="http://wp.vcu.edu/masseynews/2013/07/31/new-protein-discovered-with-vast-potential-for-treatment-of-cancer-and-other-diseases/" target="new window">Protein discovered with potential for treatment of cancer and other diseases</a></li>
                    <li><img src="http://www.massey.vcu.edu/media/massey-cancer-center/content-assets/images/home-page-thumbnails/grossmanicon.jpg" alt="Tumeric"  width="40" height="40" /> <a href="http://wp.vcu.edu/masseynews/2013/08/20/ingredient-in-common-kitchen-spice-turmeric-when-combined-with-anti-nausea-medication-thalidomide-effectively-kills-cancer-cells/" target="Blank">Preclinical study finds turmeric combined with thalidomide effectively kills cancer cells</a></li>
                  </ul>
                  <p><a href="http://blog.vcu.edu/massey_news" class="more-news">More news updates</a></p>
              </div><!--end #col-a-->

              <div id="col-b">
                <h3>Massey in the Media</h3>
                  <ul>
                    <li><img src="http://www.massey.vcu.edu/media/massey-cancer-center/content-assets/images/home-page-thumbnails/grossmanicon.jpg" alt="ABC" width="40" height="40" /> <a href="http://ideastations.org/radio/archive/2013-08-02-new-protein-discovery-may-help-develop-powerful-new-cancer-drugs" target="New Window">Dr. Chalfant was interviewed about a new cancer-related protein that he co-discovered</a></li>
                    <li><img src="http://www.massey.vcu.edu/media/massey-cancer-center/content-assets/images/home-page-thumbnails/grossmanicon.jpg" alt="Huffington Post" width="40" height="37" /> <a href="http://www.huffingtonpost.com/donna-highfill/cancer-diagnosis_b_3740374.html" target="New window">Blogger reflects on positive and inspiring experiences at Massey</a></li>
                    <li><img src="http://www.massey.vcu.edu/media/massey-cancer-center/content-assets/images/home-page-thumbnails/grossmanicon.jpg" alt="RTD" width="40" height="40" /> <a href="pdf.pdf" target="new window">Drs. Bear and Quillin were quoted about hereditary breast cancer</a></li>
                  </ul>
                  <p><a href="http://www.massey.vcu.edu/press-coverage.htm" class="more-press">More press coverage</a></p>
              </div><!--end col-b-->

              <div id="col-c">
                <h3>Upcoming Events</h3>
                  <ul>
                    <li>
                      <div class="news-date"><span class="month">OCT</span><span class="day">1</span></div>
                      <a href="http://events.vcu.edu/detailEvent.asp?ID=57543">Pink Ribbons of Hope Golf Tournament</a>
                    </li>
                    <li>
                      <div class="news-date"><span class="month">OCT</span><span class="day">12</span></div>
                      <a href="http://www.massey.vcu.edu/VCU-Cancer-Symposium.htm">VCU Presidential Symposium on Cancer: Cancer Care Across the Continuum</a>
                    </li>
                    <li>
                        <div class="news-date"><span class="month">OCT</span><span class="day">17</span></div>
                        <a href="http://www.massey.vcu.edu/key-to-the-cure.htm">Saks Fifth Avenue's Key to the Cure</a>
                    </li>
                  </ul>
                  <p><a href="http://www.massey.vcu.edu/upcoming-events.html" class="more-events">More event listings</a></p>
              </div><!--end #col-c-->
            
            </div><!--end #links-columns-->
            <div class="clear"><!-- bg img--></div>
          </div><!--end #home-news -->

        </div><!--end .gutter-->
      </div><!--end #content-->

      <div id="sidebar">
        <ul id="intro-nav">
          <li><a class="begin" href="http://www.massey.vcu.edu/patient-care.html"><span class="link">Begin - </span><span class="nav-info">Clinical treatment and survivorship</span></a></li>
          <li><a class="discover" href="http://www.massey.vcu.edu/research.html"><span class="link">Discover - </span><span class="nav-info">Basic, translational and clinical research</span></a></li>
          <li><a class="give" href="http://www.massey.vcu.edu/giving.html"><span class="link">Give - </span><span class="nav-info">Philanthropy, events and volunteerism</span></a></li>
        </ul>

        <div id="quicklinks">
          <a class="question" href="http://www.massey.vcu.edu/ask-massey.html">Ask a question</a>
          <a class="appointment" href="http://www.massey.vcu.edu/17.html">Make first appointment</a>
          <a class="refer" href="http://www.massey.vcu.edu/17.html">Refer a patient</a>
          <a class="clinical" href="http://oncoreapp.mcvh-vcu.edu/sip/SIPControlServlet">Find a clinical trial</a>
          <a class="doctor" href="http://www.massey.vcu.edu/find-a-doctor.html">Find a doctor</a>
          <a class="event" href="http://www.massey.vcu.edu/upcoming-events.html">Attend an event</a>
          <a class="dictionary" href="http://www.massey.vcu.edu/cancer-dictionary.html">Search cancer dictionary</a>
          <a class="contact" href="http://www.massey.vcu.edu/contact-us.html">Contact us</a>
        </div>
      </div> <!--end #sidebar-->

    <div class="clear"></div>
    </div><!--end #container-->
  
  <div class="clear"></div>
  </div><!--end #wrapper-->
</div>

  <div id="footer">
    <div class="wrapper">
      <div class="gutter">
        <div class="footer-col">
          <h4 class="education">Education</h4>
          <ul>
            <li><a href="#">Consumer health &amp; cancer information</a></li>
            <li><a href="#">Continuing Medical Education</a></li>
            <li><a href="#">Healthcare degree &amp; certificate programs</a></li>
            <li><a href="#">Palliative care training</a></li>
            <li><a href="#">Pre- and post-doctoral<br /> cancer research training</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4 class="research">Research</h4>
          <ul>
            <li><a href="#">Research programs</a></li>
            <li><a href="#">Shared resources</a></li>
            <li><a href="#">Clinical Research Affiliation Network</a></li>
            <li><a href="#">Scientific Review Board-PRMC</a></li>
            <li><a href="#">Oncore (staff only)</a></li>
          </ul>
        </div>

        <div class="footer-col last">
          <h4 class="about">About us</h4>
          <ul>
            <li><a href="#">Mission &amp; history</a></li>
            <li><a href="#">Facts &amp; figures</a></li>
            <li><a href="#">Leadership</a></li>
            <li><a href="#">Employment opportunities</a></li>
            <li><a href="#">Directions &amp; parking</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>

        <div class="clear"></div>
        <div id="signature">
          <p>VCU Massey Cancer Center  |  Phone: (804) 828-0450  |  Fax: (804) 828-8453  |  E-mail: <a href="mailto:AskMassey@vcu.edu">AskMassey@vcu.edu</a>  |  401 College Street, P.O. Box 980037<br />Richmond, Virginia 23298-0037  |  &copy; 2011 Virginia Commonwealth University</p>
          <p>Last Updated: 12/13/2013 <a class="t4Edit-page" href="#">Edit</a></p>
        </div><!--end #signature-->
      </div><!--end .gutter-->
    </div><!--end .wrapper-->
  </div><!--end #footer-->

  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script>
    if (!window.jQuery) {document.write('<script src="assets/js/jquery.js"><\/script>');}
  </script>

  <!--GLOBAL:JS-->
  <script src="../assets/js/global.js"></script>
  <script src="../assets/js/flexy.js"></script>
  <!--GLOBAL:JS END-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24820654-40']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

<!--Remove before transfer to Production -->
  <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>