<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="Description" content="VCU Massey Cancer Center" />
  <meta name="Keywords" content="vcu, massey cancer center" />

	<title>Shell - VCU Massey Cancer Center</title>
	
	<!--CSS-->
<link rel="stylesheet" href="../assets/css/global.css"></script>
<link rel="stylesheet" href="../assets/css/global-flexy.css"></script>
<!--CSS END-->

	<!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="css/ie.css" />
  <![endif]-->

	<!--MODERNIZR-->
<script src="../assets/lib/modernizr/modernizr.js"></script>
<!--MODERNIZR END-->

</head>
<body>
  <a id="top"></a>

  <div id="vcuIdentityWrapper">
    <header id="vcuIdentity">
      <h1><a title="Virginia Commonwealth University" target="_blank" href="http://www.vcu.edu">Virginia Commonwealth University</a></h1>
    </header>
  </div>

  <div id="rufio">
    <div class="wrapper">
      <h1><a href="#" target="_blank" title="VCU Massey Cancer Center">VCU Massey Cancer Center</a></h1>
      <div class="right">
          <a href="http://www.cancer.gov/researchandfunding/extramural/cancercenters" class="ncicc-link">A Cancer Center desginated by the National Cancer Institute</a>

        <div id="search">
            <form id="sitesearch" name="gs" method="get" action="http://search.vcu.edu/search">
              <label for="searchField">Search:</label>
              <div>
                <input type="text" name="q" class="field" id="searchField" value="Search the site" />
                <input id="search_btn" type="image" src="http://www.massey.vcu.edu/images/layout/search-btn-mask.gif" name="Search" alt="Go" />
              </div>
              <input type="hidden" name="query" value="" />
              <input type="hidden" name="proxystylesheet" value="massey" />
              <input type="hidden" name="output" value="xml_no_dtd" />
              <input type="hidden" name="client" value="massey"/>
              <input type="hidden" name="sitesearch" value="www.massey.vcu.edu" />
              <input type="hidden" name="sort" value="date:D:L:d1" />
              <input type="hidden" name="entqr" value="3" />
              <input type="hidden" name="oe" value="UTF-8" />
              <input type="hidden" name="ie" value="UTF-8" />
              <input type="hidden" name="ud" value="1" />
              <input type="hidden" name="site" value="massey" />
            </form>
        </div><!--end #search-->
      </div>

      <div id="header-links">
        <ul id="util-nav">
          <li><a href="https://www.facebook.com/VCUMasseyCancerCenter" class="facebook-link" target="_blank" title="Facebook"></a></li>
          <li><a href="http://www.twitter.com/vcumassey" class="twitter-link" target="_blank" title="Twitter"></a></li>
          <li><a href="http://www.youtube.com/teammassey" class="youtube-link" target="_blank" title="YouTube"></a></li>
          <li><a href="http://blogs.vcu.edu/masseynews/atom.xml" class="rss-link" target="_blank" title="RSS"></a></li>
          <li><a href=https://www.support.vcu.edu/event/masseysubscribe class="email-link" title="E-news sign up"></a></li>
        </ul><!--end #util-nav-->
      </div><!--end #header-links-->

      <nav>
        <ul>
          <li><a href="Cancer">About Cancer</a>
            <ul>
              <li><a href="#">Types of cancer</a></li>
              <li><a href="#">Cancer and family history</a></li>
              <li><a href="#">Causes and risk factors</a></li>
              <li><a href="#">Cancer warnings and risk reduction</a></li>
              <li><a href="#">Cancer testing and diagnosis</a></li>
              <li><a href="#">Treatement Modalities</a></li>
              <li><a href="#">Cancer and nutrition</a></li>
              <li><a href="#">Additional health information</a></li>
            </ul>
          </li>
          <li><span><a href="Patient-Care">Patient Care</a></span>
            <ul>
              <li><a href="#">Refer a patient</a></li>
              <li><a href="#">Become a patient</a></li>
              <li><a href="#">Find a doctor</a></li>
              <li><a href="#">Our locations</a></li>
              <li><a href="#">Treatment teams</a></li>
              <li><a href="#">Treatment methods</a></li>
              <li><a href="#">Patient resources</a></li>
              <li><a href="#">Prevention and screening resources</a></li>
            </ul>
          </li>
          <li><a href="Survivorship">Survivorship</a>
            <ul>
              <li><a href="#">Coping with cancer</a></li>
              <li><a href="#">Survivor health</a></li>
              <li><a href="#">Work and insurance resources</a></li>
              <li><a href="#">Legal and financial resources</a></li>
              <li><a href="#">Support groups</a></li>
              <li><a href="#">Integrative medicine</a></li>
            </ul>
          </li>
          <li><a href="Clinical-Trials">Clinical Trials</a>
            <ul>
              <li><a href="#">Find a clinical trial</a></li>
              <li><a href="#">Learn about clinical trials</a></li>
              <li><a href="#">Meet trial participants</a></li>
              <li><a href="#">Get expert opinion</a></li>
              <li><a href="#">Access support services for clinical trial participants</a></li>
              <li><a href="#">Contact clinical research personnel</a></li>
              <li><a href="#">Clinical Research Affiliation Network</a></li>
              <li><a href="#">Clinical Research Shared Resources</a></li>
              <li><a href="#">Protocol Review and Monitoring Committee (for investigators only)</a></li>
              <li><a href="#">Access Oncore (for staff only)</a></li>
            </ul>
          </li>
          <li><a href="Research">Research</a>
            <ul>
              <li><a href="#">Research highlights</a></li>
              <li><a href="#">Research programs</a></li>
              <li><a href="#">Shared resouce cores</a></li>
              <li><a href="#">Research members</a></li>
              <li><a href="#">Administration and business services</a></li>
              <li><a href="#">Research resources and funding</a></li>
              <li><a href="#">Advanced research training</a></li>
              <li><a href="#">Research Report e-newsletter</a></li>
              <li><a href="#">Cancer Research Retreat</a></li>
            </ul>
          </li>
          <li><a href="Newsroom">Newsroom</a>
            <ul>
              <li><a href="#">Press inquiry</a></li>
              <li><a href="#">Breaking news and discoveries</a></li>
              <li><a href="#">Press coverage</a></li>
              <li><a href="#">About Massey</a></li>
              <li><a href="#">Publications</a></li>
              <li><a href="#">Social media</a></li>
              <li><a href="#">Request a public speaker</a></li>
              <li><a href="#">Identity guidelines</a></li>
              <li><a href="#">Resources for Massey staff</a></li>
              <li><a href="#">VCU Presidential Symposium on Cancer</a></li>
            </ul>
          </li>
          <li><a href="Giving">Giving</a>
            <ul>
              <li><a href="#">Give now</a></li>
              <li><a href="#">Why support Massey</a></li>
              <li><a href="#">Research for Life</a></li>
              <li><a href="#">Ways to give</a></li>
              <li><a href="#">Honorary and memorial gifts</a></li>
              <li><a href="#">Patient and donor stories</a></li>
              <li><a href="#">Fundraising events</a></li>
              <li><a href="#">Community Advisory Board</a></li>
              <li><a href="#">Massey Alliance</a></li>
              <li><a href="#">Contact the Development Office</a></li>
            </ul>
          </li>
        </ul>
      </nav>

    </div>
  </div>

  
  <div id="wrapper" class="clearfix">
    <div id="container" class="clearfix"><!-- start content container -->
      <div id="content">
        <div class="gutter">
        
          <div id="breadcrumb-nav">
            <p><a href="http://www.massey.vcu.edu/index.html">Home</a> &gt;  <a href="http://www.massey.vcu.edu/patient-care.html" class="current">Shell</a></p>
          </div><!--end #breadcrumb-nav-->
        
          <h2 class="title">Shell</h2>






        </div><!--end .gutter-->
      </div><!--end #content-->

      <div id="sidebar">
        <h3>DEV Components</h3>
        <ul id="subnav">
          <li><a href="#">Press inquiry</a></li>
          <li><a href="#">Breaking news and discoveries</a></li>
          <li><a href="#">Press coverage</a></li>
          <li><span class="currentbranch0"><a href="#">About Massey</a></span>
            <ul class="multilevel-linkul-0">
              <li><a href="#">Facts and figures</a></li>
              <li><span class="currentbranch1"><a href="#" class="current">Leadership</a></span>
                <ul class="multilevel-linkul-1">
                  <li><a href="#">About our director</a></li>
                  <li><a href="#">Leadership Team</a></li>
                  <li><a href="#">Community Advisory Board</a></li>
                  <li><a href="#">Scientific External Advisory Board</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Publications</a></li>
          <li><a href="#">Social media</a></li>
          <li><a href="#">Request a public speaker</a></li>
          <li><a href="#">Identity guidelines</a></li>
          <li><a href="#">Resources for Massey staff</a></li>
          <li><a href="#">VCU Presidential Symposium on Cancer</a></li>
        </ul>

        <div id="quicklinks">
          <a class="question" href="http://www.massey.vcu.edu/ask-massey.html"><span>Ask a question</span></a>
          <a class="appointment" href="http://www.massey.vcu.edu/17.html">Make first appointment</a>
          <a class="refer" href="http://www.massey.vcu.edu/17.html">Refer a patient</a>
          <a class="clinical" href="http://oncoreapp.mcvh-vcu.edu/sip/SIPControlServlet">Find a clinical trial</a>
          <a class="doctor" href="http://www.massey.vcu.edu/find-a-doctor.html">Find a doctor</a>
          <a class="event" href="http://www.massey.vcu.edu/upcoming-events.html">Attend an event</a>
          <a class="dictionary" href="http://www.massey.vcu.edu/cancer-dictionary.html">Search cancer dictionary</a>
          <a class="contact" href="http://www.massey.vcu.edu/contact-us.html">Contact us</a>
        </div>
      </div><!--end #sidebar-->
    </div><!--end #container-->
  </div><!--end #wrapper-->

  <div id="footer">
    <div class="wrapper">
      <div class="gutter">
        <div class="footer-col">
          <h4 class="education">Education</h4>
          <ul>
            <li><a href="#">Consumer health &amp; cancer information</a></li>
            <li><a href="#">Continuing Medical Education</a></li>
            <li><a href="#">Healthcare degree &amp; certificate programs</a></li>
            <li><a href="#">Palliative care training</a></li>
            <li><a href="#">Pre- and post-doctoral<br /> cancer research training</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4 class="research">Research</h4>
          <ul>
            <li><a href="#">Research programs</a></li>
            <li><a href="#">Shared resources</a></li>
            <li><a href="#">Clinical Research Affiliation Network</a></li>
            <li><a href="#">Scientific Review Board-PRMC</a></li>
            <li><a href="#">Oncore (staff only)</a></li>
          </ul>
        </div>

        <div class="footer-col last">
          <h4 class="about">About us</h4>
          <ul>
            <li><a href="#">Mission &amp; history</a></li>
            <li><a href="#">Facts &amp; figures</a></li>
            <li><a href="#">Leadership</a></li>
            <li><a href="#">Employment opportunities</a></li>
            <li><a href="#">Directions &amp; parking</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </div>

        <div class="clear"></div>
        <div id="signature">
          <p>VCU Massey Cancer Center  |  Phone: (804) 828-0450  |  Fax: (804) 828-8453  |  E-mail: <a href="mailto:AskMassey@vcu.edu">AskMassey@vcu.edu</a>  |  401 College Street, P.O. Box 980037<br />Richmond, Virginia 23298-0037  |  &copy; 2011 Virginia Commonwealth University</p>
          <p>Last Updated: 12/13/2013 <a class="t4Edit-page" href="#">Edit</a></p>
        </div><!--end #signature-->
      </div><!--end .gutter-->
    </div><!--end .wrapper-->
  </div><!-- end #footer-->

	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script>
    if (!window.jQuery) {document.write('<script src="assets/js/jquery.js"><\/script>');}
  </script>

  <!--GLOBAL:JS-->
  <script src="../assets/js/global.js"></script>
  <script src="../assets/js/flexy.js"></script>
  <!--GLOBAL:JS END-->

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24820654-40']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

<!--Remove before transfer to Production -->
	<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>